.header {
  padding-top: 90px;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-menu {
    display: none;
  }

  @media screen and (max-width: 991px) {
    padding-top: 30px;
    padding-bottom: 30px;
    .menu {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 0%;
      transform: translateX(100%);
      transition: all 0.2s linear;
      padding: 20px;
      background-color: #09142e;
      flex-direction: column;
      row-gap: 50px;
      align-items: baseline;
      padding-top: 100px;
      z-index: 10000;
      &-item {
        margin-left: 0px;
        a {
          color: white;
        }
      }
      &-action {
        margin-left: 0px;
        .btn {
          padding: 20px 50px;
        }
      }
      &.is-active {
        transform: translateX(0);
        width: 60%;
        .close-menu {
          display: inline-block;
          position: absolute;
          top: 10px;
          right: 20px;
          font-size: 40px;
          color: white;
        }
      }
    }

    .hambuger {
      font-size: 30px;
      color: #c5c5c5;
      a {
        color: #c5c5c5;
      }
    }
  }
  @media screen and (min-width: 991px) {
    .hambuger {
      display: none;
    }
  }
}
