.intergration {
  padding-top: 115px;

  &-container {
    display: flex;
    align-items: center;
  }
  &-img {
    transform: translateX(-75px);
  }
  &-content {
    padding-left: 40px;
    max-width: 420px;
  }

  @media screen and (max-width: 1023px) {
    &-img {
      transform: translateX(10px);
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 50px;

    &-container {
      flex-wrap: wrap;
    }
    &-img {
      width: 100%;
      transform: none;
    }
    &-content {
      padding-left: 0px;
      margin-top: 50px;
    }
  }
}
